@import 'core';

.page {
  display: flex;
  min-height: 100vh;

  &Left {
    background-color: $primary;
    padding: 40px;
    width: 45%;

    &Logo {
      margin-bottom: 80px;
      max-width: 92px;
    }

    &Content {
      text-align: center;

      &Title {
        margin-bottom: 80px;
      }

      &Description {
        letter-spacing: 1px;
        line-height: 20px;
        margin-bottom: 80px;
      }

      &Button {
        display: flex;
        justify-content: center;
      }
    }
  }

  &Right {
    align-items: center;
    background-color: $background;
    display: flex;
    justify-content: center;
    width: 55%;

    &Form {
      text-align: center;
      width: 60%;

      &Title {
        margin-bottom: 40px;
      }

      &Field {
        background-color: $background;
        margin-bottom: 20px;
      }

      &Button {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }

      &Name {
        display: flex;
        justify-content: space-between;

        &Input {
          margin-bottom: 20px;
          width: 48%;
        }
      }
    }
  }
}
