@import 'core';

.box {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &Header {
    align-items: center;
    background-color: $primary;
    // border: 2px solid $primary;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    // padding: 16px 15px;
    height: 80px;
    justify-content: space-between;
    padding: 30px;

    &Button {
      padding: 0 !important;
    }

    &Left {
      align-items: center;
      display: flex;
      width: 95%;

      &Title {
        margin-right: 16px;
      }
    }

    &ClosedBtn {
      color: $darkGreen;
      transition: 0.5s;
    }

    &OpenedBtn {
      color: $darkGreen;
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }

  &Content {
    background-color: $light;
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-top: 10px;
    padding: 30px;

    &Description {
      line-height: 16px !important;
    }
  }
}
