@import 'core';

.content {
  background-color: $light;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 20px;

  a {
    color: $darkGreen;
  }

  ul {
    list-style: decimal;
    // padding: 0;
  }

  li {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
