@import 'core';

.page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  &Buttons {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
